body {
  font-family: 'Open Sans', sans-serif;
}
button {
  border: 0px;
  outline: 0;
  margin: 1rem;

}




.btn {
  display: inline-block;
  border-radius: 4px;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: .15rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
}
.btn:hover {
  transition: background-color .2s ease-in-out;
}
.btn-primary {
  background: #1e88e5;
  color: white;
}
.btn-primary:hover {
  background: #2d97f4;
  color: white;
}
.btn-dark {
  background: #222;
  color: white;
}
.btn-dark:hover {
  background: #3e3e3e;
  color: white;
}
.btn-outline {
  background: white;
  color: rgba(34, 34, 34, 0.8);
  border: 1px solid rgba(34, 34, 34, 0.8);
}
.btn-outline:hover {
  color: #222;
  border: 1px solid #222;
}
.btn-error {
  background-color: #f36362;
  color: white;
}
.btn-error:hover {
  background: #ff7271;
  color: white;
}
.btn-success {
  background-color: #4ce276;
  color: white;
}
.btn-success:hover {
  background: #5bf185;
  color: white;
}
.btn-warning {
  background-color: #f9d65e;
  color: white;
}
.btn-warning:hover {
  background: #ffe56d;
  color: white;
}
